body {
  font-size: 10px;
}

header,
main {
  padding: 2rem;
  font-size: 1.6rem;
}

h1 {
  padding: 1rem;
  font-size: 2.2rem;
}

p,
ul.bullets {
  padding: 1rem;
}

ul.bullets {
  list-style: disc;
  padding: 1rem 2rem;
}

ul.bullets li {
  margin: 0.6rem 0;
}
.global-nav-list {
  display: flex;
}

.global-nav-list-item {
  margin-right: 1.6rem;
  position: relative;
}

.submenu-list {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  background-color: white;
  padding: 1rem 0;
}

.submenu-list.show {
  display: block;
}

.submenu-list li {
  margin: 0.4rem 0;
}

*.focus,
*:focus {
  outline: 1px solid blue;
}
